body{
	margin: 50px;
	font-family: arial;
	background-color: lightgreen;
}

.container{
	width: 1000px;
	margin: auto;
}
.card{
	display: inline-block;
	width: 230px;
	padding: 0 80px;
	height: 80px;
	font-size: 14px;
	line-height: 80px;
	border-radius: 50px;
	background-color: white;
	margin: 20px;
	position: relative;
	text-align: center;
}

.card img{
	float: left;
	margin: 0 10px 0 -80px;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	position: relative;
	cursor: pointer;
}

.card .nama .card .telp{
	display: block;
	line-height: 20px;
	padding: 0 5px;
}

.card .nama {
	margin left: 20px;
	margin-top: 20px;
	font-size: 20px;
	font-family: sans;
}

.card .telp {
	margin-left: 20px;
	margin-top: 20px;
	font-size: 18px;
	color: black;
	font-family: sans;
}

.card .close {
	font-size: 24px;
	font-weight: bold;
	font-family: sans;
	color: black;
	position: absolute;
	top: 0px;
	right: 30px;
	cursor: pointer;
}

.card:hover .close {
	color: red;
}